* {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding: 0px;
}

.flag {
    width: 30%;
    padding: 10px;
}


header {
    color: white;
    background-color: red;
    padding: 25px;
    width: 100%;
    text-align: right;
 a:link {
    color: white;
 }
 a:visited {
    color: #aaaaaa;
 }
}

footer {
    color: white;
    background-color: green;
    padding: 25px;
    width: 100%;
    text-align: center;
}